<div class="jumbotron">
  <h1>AngularJS</h1>
  <p class="lead">
    <img src="images/AngularJS.png" alt="I'm AngularJS" width="300" height="300"><br>
    Javascript Framework for front-end development.
  </p>
  <p><a class="btn btn-lg btn-info" ng-href="https://angularjs.org/">Site<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>AngularJS</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs.
    <br>
    <a href="https://angularjs.org/">https://angularjs.org/</a>
  </p>
</div>
